@import '../../global/variables';
.sx-divider {
  position: relative;
  display: block;
  margin: 15px 0px;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  .after,
  .before {
    position: relative;
    display: block;
    width: 100%;
  }
  .sx-divider-border {
    height: 1px;
    border-top-color: $color-dark;
  }
}
